/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  } */
/* @media (max-width: 1200px) {
  body {
  margin: 0;
  display: flex;
  align-items: centre;
  padding-left: 30%;
  padding-top:  230px; 
  background-color: lightgray;
} */

/* @media (max-width: 900px) {
  body {
  margin: 0;
  display: flex;
  align-items: centre;
  padding-left: 20%;
  padding-top:  230px; 
  background-color: blue;
} */


body {
  margin: 0;
  display: flex;
  align-items: centre;
  padding-left: 35%;
  padding-top:  180px;  
  background-image: url("./assets/3540021.jpg");

}




/* style={{
      "padding-left": "30px",
      "background-color": "grey",
      "border-radius": "10px", 
      "border-style": "inset", 
      "border-color" : "darkgrey",
      height: "120%",
      width: "130%",
      display: "flex",
      justifyContent: "center",
      alignItems: "center"

    }} */
  

/* 
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
