.register-container {
  padding: 25px;
  background-color: #0e5b82ff;
  border-radius: 10px;
  border-style: inset;
  border-color: #002c42ff;

  width: 170%;
  max-width: 340px;

  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 480px) {
  .register-container {
    width: 90%;
    max-width: 340px;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.register-title {
  color: #ced4daff;
  margin-bottom: 15px;
}

.register-label {
  color: white;
  margin-top: 10px;
  align-self: flex-start;
}

.register-input {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.register-button {
  margin-top: 10px;
  height: 35px;
  width: 100%;
  background-color: darkgrey;
  border-radius: 5px;
  border-style: inset;
  cursor: pointer;
  font-weight: 500;
}

@media (hover: hover) {
  .register-button:hover {
    transform: scale(1.05);
  }
}

.google-section {
  margin-top: 12px;
  text-align: center;
}

.or-text {
  margin: 8px 0;
  color: white;
  font-size: 14px;
}

.login-text {
  margin-top: 12px;
  font-size: 15px;
  color: white;
  text-align: center;
}

.login-link {
  color: #b81515ff;
  text-decoration: none;
  margin-left: 5px;
}

.login-link:hover {
  text-decoration: underline;
}
.login-button{
    margin-top: 10px;
    height: 35px;
    width: 100%;
    background-color: darkgrey;
    border-radius: 5px;
    border-style: inset;
    cursor: pointer;
}